@charset "UTF-8";

@font-face {
    font-family: UnifrakturCook-bold;
    src: url(/fontes/UnifrakturCook-Bold.ttf);
}
@font-face {
    font-family: ShadowsIntoLight-Regular;
    src: url(/fontes/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: Unbounded-Variablefont;
    src: url(/fontes/Unbounded-VariableFont_wght.ttf);
}

*{
    outline: 0;
}
.sp{
    background-color: transparent;
}

#link, a{
    font-family: UnifrakturCook-bold;
    color:#fff;
    font-size: 1em;
}

body{
    background-image: url('https://www.ead.iapajus.com.br/metronic/assets/media/logos/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

section{
    margin: auto;
    width: 420px;
    height: 380px;
    border-radius: 5px;
    border: 2px solid rgb(0, 215, 136);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);

    margin-top: 30px;
    margin-bottom: 30px;
    
}

#form{
    padding: 20px;
}
h2{
    font-family: Unbounded-Variablefont;
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 1em;
    text-align: center;
    color:rgb(3, 187, 119);
    
}
/**INPUTS*/

#form > button[type=submit]{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    color: rgba(49, 49, 49, 0.712);
    font-weight: bold;
    border: 1px solid rgb(0, 215, 136);
    border-radius: 5px;

    background-color: rgb(0, 215, 136);
    
}
#form > button[type=reset]{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: 2px solid rgba(255, 255, 255, 0.493);
    color:#fff;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    
    
}
#form > button[type="submit"]:hover{
    cursor: pointer;
    color: #fff;

    background-color:transparent;
   
}
#form > button[type="reset"]:hover{
    cursor: pointer;
    background-color: rgb(0, 215, 136);

    color: #fff;
   
}

/* ---------- Estilos dinâmicos ---------- */
#textFormEmail{
    color: rgb(0, 215, 136);
    margin-bottom: 10px;
    font-size: .8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#textFormSenha{
    color: rgb(0, 215, 136);
    margin-bottom: 10px;
    font-size: .8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#textForm{
    color: rgb(0, 215, 136);
    margin-top: 10px;
    font-size: .8em;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

/*---------Estilos do input----------*/
div.campo{
    margin: 5px 0px;
    width: 100%;
    height: 39px;
    border: 1px solid rgba(49, 49, 49, 0.295);
    background-color: #fff;
    
} 

div.campo > span{
    color:rgb(0, 215, 136);
    padding: 7px;

}
div.campo > input{
    width:calc(85.5%);
    transform: translateY(-10px);
    border: none;
    padding-left: 5px;
    background-color: transparent;

}
div.campo > input:hover{
    transition-delay: 1s;
    color: #000;
   

}

/*********estilização do botao lateral************/

.btn-responsivo2{ 
    display: flex;
    justify-content: center;
    bottom:20px;
    right: 30px;
  
    }
    /*
    span#botao-menu{
      font-size: 55px;
      color: #223A59;
      cursor: pointer;
      display: block;
      
    }*/
    ul{
      list-style: none;
       
    }
    li{
        display: inline-block;
    }
    button{
      outline: none;
      background-color:rgb(0, 215, 136);
      color: #fff;;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      margin:5px;
     
    }
    button:hover{
      cursor: pointer;
      transition-duration: 100ms;
      width: 45px;
      height: 45px;

      background-color: transparent;

    }

@media  (max-width: 1200px) {
    html { 
        font-size: 90%;
    }
}

@media (max-width: 992px) {
    html{
        font-size: 70%;
    }
}
  @media  (max-width: 778px) {
    html { 
        font-size: 70%;
    }

    img {
        width: 60%;
        height:60%;
        }
       
        section{
            width: 50%;
            height:50%;
         
        }
        #form{
            width: 89%;
            height:60%;
            padding: 15px;
        }  
      
     
        div.campo > input{
  
        width: 158px;
        height: 40px;
      
        }
      
  }

  @media (max-width:471px){
    html{
        font-size: 30%;
    }
    div.campo > input{
        width:calc(60.5%);
       transform: translateY(-10px);
    }
   
  }